@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-gg-green: rgba(0, 153, 63, 1);
  --font-weight-semimedium: 450;
  --text-size-1.5xl: 1.3rem,

  --color-button-primary: rgba(0, 153, 63, 1);
  --color-button-secondary: rgba(86, 86, 86, 1);
  --color-button-success: rgba(44, 204, 86, 1);
  --color-button-danger: rgba(222, 67, 86, 1);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.font-main {
    font-family: "Spline Sans", sans-serif;
}

.button-main:hover {
  @apply shadow-lg shadow-black/20 transition-shadow duration-200 ease-linear
}